@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
    --primaryhover: #54e4f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    /* Vous pouvez ajouter des styles spécifiques à votre conteneur ici */
}

.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    margin: auto;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    color: #fff;
    background-color: var(--primary);
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: var(--primaryhover);
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.btnsingup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
select.form-control {
    height: 50px; /* Ajustez la taille ici */
    background-color: #ffffff; /* Couleur de fond */
    border: 1px solid #CACACA; /* Bordure similaire aux autres champs */
    color: #555555; /* Couleur du texte à l'intérieur du select */
}

select.form-control:hover {
    color: #333333; /* Change la couleur du texte au survol */
}

select.form-control:focus {
    color: #000000; /* Change la couleur du texte lorsque le champ est sélectionné */
    border-color: #00B074; /* Change la couleur de la bordure quand le champ est actif */
}
.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }
}
