<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to the Dashboard!</h1>
        <!-- Button to reset the questionnaire -->
        <a href="{% url 'calculate_score' %}" class="btn btn-primary mt-4">Redo Questionnaire</a>
    </div>
    <footer>
        &copy; 2024 E-Learning Platform
    </footer>
</body>
</html>
