{% extends 'base.html' %}
{% block content %}
<div class="container-xxl py-5" style="margin-bottom: -100px; margin-top: -100px;" >
    <div class="container">
        <div class="row py-5">
            <section class="container forms"
                style="height: 60vh;width: 100%;display: flex; align-items: center; justify-content: center;column-gap: 50px;margin-top: 30px;">
                <div class="form login">
                    <div class="form-content">
                        <header>Sing In</header>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="field input-field">
                                <input type="text" name="username" class="form-control" placeholder="Username" required>
                                {% if form.username.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.username.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                                {% if form.password.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.password.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field button-field">
                                <button type="submit" class="btnsingup btn-primary rounded-0 py-4 px-lg-3">Login</button>
                            </div>
                        </form>
                        <div class="form-link">
                            <span>Don't have an account? <a href="{% url 'register' %}" class="link signup-link">Sign Up</a></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
