{% extends 'base.html' %}
{% block content %}
<div class="container-xxl py-5" style="margin-bottom: 300px; margin-top: -100px;">
    <div class="container">
        <div class="row py-5">
            <section class="container forms"
                style="height: 60vh;width: 100%;display: flex; align-items: center; justify-content: center;column-gap: 50px;margin-top: 30px;">
                <div class="form signup">
                    <div class="form-content">
                        <header>Signup</header>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="field input-field">
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.username.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.first_name.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.last_name.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.address }}
                                {% if form.address.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.address.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.country }}
                                {% if form.country.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.country.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.gender }}
                                {% if form.gender.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.gender.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.password1.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field input-field">
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ form.password2.errors }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="field button-field">
                                <button type="submit" class="btnsingup btn-primary rounded-0 py-4 px-lg-3">Signup</button>
                            </div>
                        </form>
                        <div class="form-link">
                            <span>Already have an account? <a href="{% url 'login' %}" class="link login-link">Sing In</a></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
